body {
    margin: 0;
    padding: 0;
    background-color: $orange;
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}