body {
    margin: 0;
    padding: 0;
    background-color: $orange;
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-width: 1020px;
}

.page-wrapper {
    width: 100%;
    overflow: hidden;
}

.page-content {
  background-color: #fff;
  border-top: 1px solid  #f1f1f6;

  &__inner {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
  }
}

.container {
    width: 1020px;
    margin: 0 auto;
}

a {
  color: $orange;
  text-decoration: underline;
}

.content-wrapper {
  margin: 20px 0;
  margin-bottom: 40px;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

iframe {
  border: none;
}