.footer {
    background-color: #15141b;

    &-inner {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }

    .copyright {
        float: left;
        max-width: 400px;
        margin: 40px 0;

        .copy-owner {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            display: block;
        }

        .mega-link {
            font-size: 12px;
            color: #696773;
            display: block;

            & > a {
                font-size: 12px;
                text-decoration: underline;
            }
        }
    }

    .stat {
        margin-top: 43px;
        float: right;
    }
}