.header {
    height: 200px;
    max-height: 200px;
    background-color: $black;
    overflow: hidden;

    .bg-img-wrapper {
        position: relative;
        width: 1020px;
        margin: 0 auto;
        z-index: 1;

        & > img {
            position: absolute;
            top: 0;
            left: -713px;
        }
    }

    .header-inner {
        width: 100%;
        padding-left: 0px;
        padding-right: 20px;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
    }

    .logo-wrapper {
        float: left;
        margin-top: 34px;
        max-width: 400px;

        .logo {
            display: inline-block;
            vertical-align: middle;
        }

        .logo-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 16px;

            & .logo-name {
                color: $white;
                font-family: 'PT Sans';
                font-weight: bold;
                display: block;
            }

            & .slogan {
                display: block;
                font-size: 16px;
                color: $orange;
                font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-weight: bold;
            }
        }
    }

    .contacts {
        float: right;
        vertical-align: middle;
        margin-top: 63px;
        max-width: 320px;

        &__item {
            text-align: right;
            margin: 9px 0;
            position: relative;

            & > .icon {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -19px;

                &.icon-phone {
                    left: -23px;
                    top: 1px;
                }
            }
            
            .address {
                font-size: 14px;
                word-spacing: -1px;
                color: $white;
                font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
            }

            .phone {
                display: inline-block;
                position: relative;
                top: 2px;
                font-size: 18px;
                color: $white;
                font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-weight: bold;
            }

            .feedback {
                font-size: 12px;
                color: #191921;
                display: inline-block;
                padding: 4px 17px;
                border-radius: 15px;
                text-decoration: none;
                margin-left: 5px;
                transition: all .3s;
                background: rgb(255,203,0); /* Old browsers */
                background: -moz-linear-gradient(top,  rgba(255,203,0,1) 0%, rgba(255,169,0,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,203,0,1)), color-stop(100%,rgba(255,169,0,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(255,203,0,1) 0%,rgba(255,169,0,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(255,203,0,1) 0%,rgba(255,169,0,1) 100%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(255,203,0,1) 0%,rgba(255,169,0,1) 100%,rgba(255,255,255,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(255,203,0,1) 0%,rgba(255,169,0,1) 100%,rgba(255,255,255,1) 100%); /* W3C */
                box-shadow: inset 0 1px 0 rgba($white, .28), 0 2px 3px rgba(0,0,0, .42);
            
                &:hover {
                    background: #15141b;
                    color: $orange;
                }
            }
        }
    }
}