.icon {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/spritesheet.png');
}

.icon-promo-arrow {
    width: 11px;
    height: 18px;
    background-position: -9px -84px;
}

.icon-mark {
    width: 7px;
    height: 11px;
    background-position: -54px -43px;
}

.icon-phone {
    width: 12px;
    height: 12px;
    background-position: -88px -9px;
}

.icon-search {
    width: 22px;
    height: 23px;
    background-position: -79px -43px;
}

.icon-arrow-m {
    width: 27px;
    height: 27px;
    background-position: -9px -9px;
}

.icon-arrow-sm {
    width: 16px;
    height: 16px;
    background-position: -54px -9px;
}
