.icon {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/spritesheet.png');
}

.icon-promo-arrow {
    width: 11px;
    height: 18px;
    background-position: -112px -39px;
}

.icon-mark {
    width: 7px;
    height: 11px;
    background-position: -77px -79px;
}

.icon-phone {
    width: 12px;
    height: 12px;
    background-position: -112px -9px;
}

.icon-search {
    width: 22px;
    height: 23px;
    background-position: -102px -79px;
}

.icon-arrow-m {
    width: 27px;
    height: 27px;
    background-position: -67px -9px;
}

.icon-arrow-sm {
    width: 16px;
    height: 16px;
    background-position: -9px -54px;
}

.icon-arrow-sm-black {
    width: 16px;
    height: 16px;
    background-position: -43px -54px;
}

.icon-arrow-down {
    width: 11px;
    height: 7px;
    background-position: -9px -9px;
}

.icon-arrow-down-orange {
    width: 11px;
    height: 7px;
    background-position: -38px -9px;
}

.icon-check {
    width: 9px;
    height: 7px;
    background-position: -77px -54px;
}
