.partners {
    background-color: #fff;

    &-inner {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 20px;
        text-align: center;
    }

    &-header {
        text-transform: uppercase;
        display: block;
        margin-bottom: 12px;
        margin-top: 19px;
    }

    &-list {
        margin: 3.5px 0;

        &__item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 29px;

            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}